### IntelliJ IDEA ###
# IntelliJ IDEA
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
# Eclipse
.apt_generated
.classpath
.factorypath
@@ -15,15 +15,21 @@ bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
# VS Code
.vscode/

### Mac OS ###
# Mac OS
.DS_Store
